* {
  margin: 0;
  padding: 0; }

html,
body {
  height: 100vh;
  width: 100%;
  background: #f0f0f0;
  font-family: 'Oswald', sans-serif; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

@font-face {
  font-family: This;
  src: url("../assets/font/This-Regular.woff"); }
/*header*/
.header {
  width: 100%;
  min-height: 600px;
  background: url("../assets/pictures/img/bg.jpg") no-repeat 50% 50%;
  background-size: cover;
  position: relative; }

.header--dark {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.header-wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 20px auto;
  min-height: 540px;
  position: relative; }

.header__menu {
  width: 100%;
  position: absolute;
  z-index: 10;
  top: 20px; }

.menu-wrapper {
  max-width: 1200px;
  width: 100%;
  margin: auto; }

.header-logo {
  display: inline-block;
  max-width: 400px;
  font-family: This, serif;
  text-transform: uppercase;
  color: white;
  font-size: 40px; }

.header-nav {
  float: right;
  max-width: 470px;
  width: 100%; }

.nav-list {
  display: flex;
  min-height: 47px; }

.nav-item {
  display: inline-block;
  margin: auto 10px;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 18px; }

.nav-link {
  color: white;
  position: relative;
  display: block;
  cursor: pointer;
  padding: 8px 0;
  opacity: 0.8; }
  .nav-link:hover {
    opacity: 1;
    transition: all 0.2s ease-in;
    text-decoration: none; }
  .nav-link:not(:hover) {
    transition: all 0.2s ease-in; }

.nav-link:before,
.nav-link:after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -2px;
  background: #fff; }

.nav-link:before {
  left: 0; }

.nav-link:after {
  right: 0;
  background: #fff;
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1); }

.nav-link:hover:before {
  background: #fff;
  width: 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1); }

.nav-link:hover:after {
  background: transparent;
  width: 100%;
  transition: 0s; }

.header__container {
  position: absolute;
  width: 70%;
  bottom: 30px;
  min-height: 300px; }

.header-caption {
  color: white;
  font-size: 24px;
  text-transform: uppercase;
  padding-bottom: 30px; }

.header-text {
  color: white;
  font-size: 20px;
  width: 80%;
  display: block;
  margin-bottom: 30px; }

.header-btn {
  padding: 10px 15px;
  box-sizing: border-box;
  text-transform: uppercase;
  color: white;
  font-size: 20px;
  text-align: center;
  border: 1px solid white;
  border-radius: 4px; }

/*base*/
.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 20px auto 0; }

.caption-icon {
  display: block;
  width: 70px;
  margin: 0 auto 20px; }

.phrase {
  display: block;
  margin: 0 auto;
  width: 70%;
  font-style: italic;
  text-align: center;
  color: slategray;
  font-size: 16px; }

.content {
  display: flex;
  width: 100%;
  margin: 20px auto; }

.container {
  display: inline-block;
  width: 30%;
  margin: auto;
  background: white; }

/*# sourceMappingURL=style.css.map */
