<!-- Python -->
{% load staticfiles %}

<!-- HTML -->

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Russian Kitchen</title>

    <!-- css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

    <!-- font -->
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&amp;subset=cyrillic"
          rel="stylesheet" />

    <!-- js -->
    <script src="{% static 'js/easeScroll.js' %}" type="es6"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>

</head>
<body>

<div class="header__menu">

    <div class="menu-wrapper">

        <h1 class="header-logo">Russian kitchen</h1>

        <nav class="header-nav">
            <ul class="nav-list">
                <li class="nav-item">
                    <a href="{%  url 'home' %}" class="nav-link">Главная</a>
                </li>
                <li class="nav-item">
                    <a href="{%  url 'post_list' %}" class="nav-link">Блог</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">О русской кухне</a>
                </li>
                <li class="nav-item">
                    {% if user.is_authenticated %}
                        <a href="{% url 'post_new' %}" class="nav-link">Создать запись</a>
                    {% endif %}
                </li>
            </ul>
        </nav>

    </div>

</div>

{% block content %}

    <header class="header">

        <div class="header--dark">

            <div class="header-wrapper">

                <div class="header__container">

                    <h1 class="header-caption">Все о русской кухне</h1>

                    <p class="header-text">Русский стол является одним из богатейших в мире — это отмечали практически все
                        иностранцы, побывавшие в России со времен Иоанна Грозного. В известной «Росписи к царским кушаньям»
                        чего только нет: и королевские пироги, и рулады из кроликов, и глазированная семга, и маринады из
                        цыплят, и окуни с ветчиною, и языки копченые, и потроха по-царски. Одних только похлебок в первую
                        подачу насчитывалось несколько десятков. </p>

                    <a href="#scroll_down" id="to_down" class="header-btn">Вперед!</a>

                </div>

            </div>
        </div>

    </header>

    <div class="wrapper">

        <img src="{% static 'assets/pictures/svg/soup.svg' %}" class="caption-icon" />
        <p class="phrase">«Еда раскрывает в человеке самое потаенное. Пусть он читает в оригинале Горация, но вы видите
            его намазывающим икру на черный хлеб - и все тщательно скрываемые плебейские корни рвутся наружу.»</p>

        <div class="content">

            <div class="container">

                <img src="" class="container-icon" />
                <p class="container-description"></p>

            </div>

            <div class="container">

                <img src="" class="container-icon" />
                <p class="container-description"></p>

            </div>

            <div class="container">

                <img src="" class="container-icon" />
                <p class="container-description"></p>

            </div>

        </div>

        <a id="scroll_down"></a>

    </div>

{% endblock %}

</body>
</html>